<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>MCC 记录你的坐标</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div id="app">
            <div v-cloak class="black" id="loading" v-show="loadingShown" @click.stop>
            </div>
            <div v-cloak class="black" id="login-bg" v-if="dialogShown" @click="closeLoginDialog">
                <div id="login-outer">
                    <div id="login-vertical">
                        <div id="login-dialog" @click.stop>
                            <div id="login-form">
                                <input v-cloak v-model="loginUser" @focus="logEditing" name="usr" type="text" placeholder="用户名"/><br>
                                <input v-cloak v-model="loginPassWord" @focus="logEditing" name="psw" type="password" placeholder="密码"/><br>
                                <p class="word" v-if="wrongPasswordShown">
                                    用户名或密码错误，请确认后重试
                                </p>
                                <button class="form-button" @click="login" type="button" :disabled="processing">登入</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <header class="shadow">
                <div class="header-left">
                    <h1 class="word" id="header-title">
                        MineCraft FYQ服  <b>坐标记录系统</b>  Ver {{ version }}
                    </h1>
                </div>
                <div class="header-right">
                    <button v-cloak v-if="loggedIn" @click="logout" type="button" class="logout">登出</button>
                    <button v-cloak v-else @click="openLoginDialog" type="button">登入</button>
                </div>
            </header>
            <section @dblclick.prevent>
                <div id="left" class="lr shadow">
                    <div id="list-filter">
                        <input name="filter" type="text" placeholder="通过名称过滤(未完成)"/>
                    </div>
                    <ul v-cloak id="p-list" class="custom-scrollbar">
                        <li id="new-point" v-if="loggedIn"
                            @mouseenter="mouseOverNewPointEditor = true"
                            @mouseleave="mouseOverNewPointEditor = false">
                            <div class="split">
                                <div class="container" v-if="newPointEditorShown">
                                    <input class="coor-name" type="text" maxlength="16" v-model="newPoint.name"/>
                                    <input class="coor" type="number"  maxlength="5" v-model.number="newPoint.x"/>
                                    <label class="coor-name"> , </label>
                                    <input class="coor" type="number" maxlength="5" v-model.number="newPoint.y"/>
                                    <div class="coor-img" v-if="addIconShown" @click="addFromUI">
                                        <img class="icon" alt="add-icon" src="/img/add.png" height="16" width="16"/>
                                    </div>
                                </div>
                                <label v-else class="word">鼠标移动至此添加新坐标~</label>
                            </div>
                        </li>
                        <li v-for="(p,index) in points" @click="coorClicked(p)"
                            @mouseenter="editingIndex = index"
                            @mouseleave="editingIndex = -1">
                            <div class="split" @dblclick.prevent>
                                <input class="coor-name no-border" type="text" maxlength="16" v-model="p.name" @blur="coorEdited(index)"
                                       :disabled="loggedIn !== true"/>
                                <input class="coor no-border" type="number"  maxlength="5" v-model.number="p.x" @blur="coorEdited(index)"
                                       :disabled="loggedIn !== true"/>
                                <label class="coor-name"> , </label>
                                <input class="coor no-border" type="number" maxlength="5" v-model.number="p.y" @blur="coorEdited(index)"
                                       :disabled="loggedIn !== true"/>
                                <div class="coor-img" v-if="loggedIn && index === editingIndex" @click="deleteFromUI(index)">
                                    <img class="icon" alt="delete-icon" src="/img/delete.png" height="16" width="16"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="right" class="lr word">
                    <p>
                        少女祈祷中…………临时操作方法：
                    </p>
                    <ol>
                        <li>登录</li>
                        <li>按F12,进入命令行</li>
                        <li>接口如下：
                            <ul>
                                <li>增加点： app.addPoint(x,y,name)</li>
                                <li>删除点： app.deletePoint(x,y)</li>
                                <li>为指定坐标的点改名字： app.renamePoint(x,y,newName)</li>
                            </ul>
                        </li>
                        <li>可使用app.getPoints()刷新更改</li>
                    </ol>
                </div>
            </section>
        </div>
    </body>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script src="/js/md5.min.js"></script>
    <script src="/js/main.js"></script>
</html>
